section {
    background-color: var(--color-lightest);
    // background-image: url('/images/hero1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-darkest);
    font-size: 1.2em;
    min-height: 100%;
    padding-block-start: 1.5em;
    width: 100%;

    .hero__content {
        padding: 1em;
        border: 1px solid var(--color-dark);
        border-radius: 0.5em;
        text-align: center;
        align-items: center;
        align-content: center;

        .cta {
            display: flex;
            justify-content: center;
        }

        .hero__title {
            font-size: 1em;
            font-weight: 700;
            margin: 0.1em;
            padding: 0.1em;

            &::before {
                align-content: center;
                background-color: var(--color-darkest);
                border-radius: 0.1em;
                content: url('/favicon.ico');
                justify-content: center;
                margin-right: 0.5em;
                padding: 0.2em;
                padding-bottom: 0.0em;
            }
        }

        .hero__description {
            color: var(--color-primary-darker);
            font-size: 1.4em;
            font-weight: 500;
            margin-block: 0;
            padding-block: 0;
        }

        .hero__cta {
            color: var(--color-darkest);
            margin-top: 1em;
            padding: 0.5em 1em;
            border: 1px solid var(--color-dark);
            border-radius: 0.5em;
            font-size: 1.4em;
        }

        .info {
            font-size: 0.9em;
            font-family: 'Quicksand', sans-serif;
            font-weight: 600;
            margin-block: 0;
            padding-block: 0.5em 1em;
        }
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-lightest);
        background-color: var(--color-darkest);

        .hero__content {
            min-height: 60dvh;
                align-items: center;
                align-content: center;
                justify-content: center;
            .hero__title {
                color: var(--color-darkest);
                text-decoration-color: currentColor;
            }

            .hero__description {
                color: var(--color-primary-darker);
            }

            .info {
                color: var(--color-darkest);
            }

            .hero__cta {
                color: var(--color-lightest);
                border-color: var(--color-light);
            }
        }
    }
}
section.hero {
    display: flex;
    flex-direction: row;
    background-image: url(/images/landscape-hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 100%;
    min-height: 85dvh;

    .large-hero-image {
        width: 100%;
        height: auto;
        background-image: url('/images/hero-earth.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(180deg) rotateX(180deg);
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    @media (width < 768px) {
        min-height: 60dvh;
    }
    @media (prefers-color-scheme: dark) {
        background-image: url("/images/landscape-hero-bg-dark.png");
    }
}
section.about {
    display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 1em;
    .about__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        align-content: center;
            justify-content: center;
            align-items: center;
    }
}